@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
    background-color: #ffffff;
    border: 1px solid rgba(116, 116, 166, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px 5px;
    width: 300px;
}

#sign-up-card, #login-card, #time-event-card {
    margin: auto;
    max-width: 400px;
}

#form-elt {
    padding: 5px;
    padding-top: 30px;
}

tr {
    outline: 1px solid #ccc;
}